body{
    background-color: hsl(184, 29%, 80%);
}
form{
    text-align: center;
    font-size: 1.5em;
    max-width: 400px;
    margin: auto;
    border: 2px solid rgba(0, 0, 0, 0.221);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgb(18, 18, 227) 35%, rgba(0,212,255,1) 100%);
    border-radius: 7px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.734);
    padding-bottom: 20px;


}
#input{
    font-size: 0.8em;
    text-align: center;
    border-radius: 2px;

}
select{
    font-size: 0.82em;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.734);
    background-color: hsl(0, 17%, 100%);
}
select:hover
{
    background-color: hsl(0, 17%, 90%);

}
select:active{
    background-color: hsl(0, 17%, 100%);

}
#convert{
    font-size: 0.6em;
    border-radius: 3px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.734);
    background-color: hsl(0, 17%, 100%);



}
#convert:hover{
    background-color: hsl(0, 17%, 92%);

}